.btn_search
    position: absolute
    left: 300px
    bottom: -23px
    width: 60px
    height: 60px
    background-image: url("./icon/search.png")
    background-size: cover
    cursor: pointer

.search_form_wrapper
    position: relative

.weather_day_wrapper
    font-family: 'Poppins', sans-serif

.icon_weather
    width: 64px,
    height: 64px
    background-size: cover

.search_form
    width: 100%
    display: flex
    justify-content: center

.location_icon
    background-image: url("./icon/icon_location.png")
    background-size: cover
    width: 22px,
    height: 22px

.temperature_icon
    background-image: url('./icon/icon _temperature.png')
    background-size: cover
    width: 12px,
    height: 37px
    margin: 0 5px

.temperature
    display: flex
    align-items: center
    font-size: 28px
    font-weight: 500
    width: 100%
    margin: 20px 0
    justify-content: center

.location
    display: flex
    font-size: 20px
    font-weight: 500

.weather_day_wrapper
    width: 200px
    height: 300px
    padding: 20px
    border-radius: 20px

.header_weather_day
    position: relative

.icon_weather
    position: absolute
    top: 0
    right: 0

.parametrs_wrapper
    display: grid
    grid-template-columns: 1fr 1fr 
    grid-template-rows: 1fr 1fr 1fr
    justify-items: center
    gap: 20px

.params_descrip
    display: flex
    flex-direction: column
    align-items: center

.params
    display: flex
    align-items: center

.forecast_day_wrapper
    margin-top: 50px
    display: flex
    width: 100%
    gap: 30px
    justify-content: space-around

.wind
    background-image: url('./icon/wind.png')
    background-size: cover
    width: 40px
    height: 40px

.humidity
    background-image: url('./icon/humidity.png')
    background-size: cover
    width: 40px
    height: 40px

.sunrise
    background-image: url('./icon/sunrise.png')
    background-size: cover
    width: 40px
    height: 40px

.sunset
    background-image: url('./icon/sunset.png')
    background-size: cover
    width: 40px
    height: 40px
