.custom_input_wrapper
    font-family: 'Poppins', sans-serif
    font-weight: 500
    width: min-content
    height: 60px
    position: relative

.custom_input
    background-color: transparent
    border: none
    border-bottom: 1px solid white
    caret-color: white
    height: 20px
    color: white
    font-size: 25px
    &:focus
        outline: none

.span_error_message
    color: red
    font-size: 12px

.hide_password
    position: absolute
    right: 4px
    top: -4px
    width: 24px
    height: 24px
    background-image: url("./image/hide.png")
    cursor: pointer

.show_password
    position: absolute
    right: 4px
    top: -4px
    width: 24px
    height: 24px
    background-image: url("./image/show.png")
    cursor: pointer
